*{
   list-style:none;

 }
.octocat{
  display:inline-block;
  width:30%;

}

 .octocat img{
   max-width:100%;
   border:1px solid grey;
   border-radius:5px;

 }

 .authors img{
   display:inline;
   width:10px;
 }
ul.authors{
  display:inline-block;
  padding-left:0;
}
.image-number::before{
  content:"#";
}

 .image-caption{
   display:inline-block;
   float:right;
   text-align:right;
 }
